<div class="bg-grey" id="new-note">
    <h2 class="font-family-banger"><%= @note.new_record? ? "New notes" : "Update Notes"%></h2>
    <%= form_for @note,html:{class:"form-horizontal"} do |f|%>
        <%= render partial:"shared/error",locals:{record: @note}%>
        <div class="form-group">
            <%= f.label :title%>
            <%= f.text_field :title,class:"form-control",placeholder:"Actioncable,ActiveStorage....."%>
        </div>
        <div class="form-group">
            <%= f.label :importance,"This note is a "%>
            <div>
                <% @importances.each do |importance|%>
                    <% radio = f.radio_button :importance,importance[:name]%>
                    <% radio = f.radio_button :importance,importance[:id] if current_page?(new_note_path) %>
                    <%= content_tag 'span',radio %><%= importance[:name].titlecase %>
                <% end %>
            </div>
        </div>
        <% unless params[:action] == 'edit'%>
            <div class="form-group">
                <%= f.label :category%>
                <div>
                    <select name="note[category]" class="selectpicker" data-width="150px" multiple title="Choose a category" >
        		    	<% @moves.each do |c| %>
    				  		<option value="<%= c.id %>"><%= c.name %></option>
    				  	<% end %>
    				</select>
                </div>
            </div>
        <% end %>
        <div class="form-group">
            <%= f.label :description,"Description (drag right bottom for more )"%>
            <%= f.text_area :description,class:"form-control",rows:20,placeholder:"Actioncable is a....."%>
        </div>
        <div class="form-group">
            <%= f.label :code,"Quality code (drag right bottom for more )"%>
            <%= f.text_area :code,class:"form-control",rows:20,placeholder:"<div>..............."%>
        </div>
        <div class="form-group">
            <%= f.label :remark%>
            <%= f.text_area :remark,class:"form-control",rows:3,value:"No remark"%>
        </div>
        <div class="form-group">
            <%= f.submit "Save notes",class:"btn btn-success"%>
        </div>
    <% end %>
</div>

<script>
    CKEDITOR.replace( 'note[code]' );
    CKEDITOR.replace( 'note[description]' );
</script>