<div class="row">
    <div class="col-md-3">
        <div id="sidebar" align="center">
            <div class="border-bottom padding-bottom-md sidebar-block">
                <div align="center">
                    <div class="border-box padding-top-sm">
                        <%= image_tag gravatar_url(current_user.email, 80),class:"rounded-corner"%>
                    </div>
                    <div class="border-box padding-top-sm">
                        <h6><%= current_user.full_name %></h6>
                    </div>
                    <div class="border-box padding-top-sm">
                        <%= link_to "Edit Profile", edit_user_registration_path,class:"btn btn-secondary"%>
                    </div>
                </div>
            </div>
            <div class="sidebar-block border-box padding-top-sm padding-bottom-sm">
                <%= link_to "New category",new_category_path,class:"btn btn-warning"%>
            </div>
            <div class="sidebar-block border-bottom padding-top-md padding-bottom-md">
                <%= render @categories %>
            </div>
            <div class="border-box padding-top-sm">
        		<%= link_to "New notes",new_note_path,class:"btn btn-warning"%>
        	</div>
        </div>
    </div>
    
    <div class="col-md-8">
        
  