<% content_for :bg do %>
    <%= render partial:"shared/error",locals:{ record: @category} %>
    <div class="col-md-6 offset-md-3 top-bottom-padding">
        <div class="bg-grey" id="new-category">
            <h1 class="font-family-banger">Edit category</h1>
            <%= form_for @category,html:{class:"form-horizontal",role:"form"} do |f|%>
                <div class="form-group">
                    <%= f.label :name,"New category's name :"%>
                    <%= f.text_field :name,class:"form-control"%>
                </div>
                <div class="form-group">
                    <%= f.submit "Update",class:"btn btn-warning"%>
                </div>
            <% end %>
        </div>
    </div>
<% end %>