<div class="row">
	<div class="col-md-8">
			<div class="page-header top-bottom-padding">
				<h1>
					<span class="font-family-monsterra"><%= @category.name  %></span> 
					<small>(<%= pluralize(@category.notes.size,'note')%>)</small>
				</h1>
			</div>
		</div>
		<div class="col-md-4 flex-display">
			<%= link_to "New notes",new_note_path,class:"btn btn-primary"%>
		</div>
</div>
<div class="row">
	<% @category.notes.each do |note|%>
		<div class="col-md-4 padding-bottom-sm">
			<div class="card">
				<h6 class="card-header">
					<%= link_to note.title,note_path(note)%>
				</h6>
				<div class="card-body">
					<p class="card-text">
						<%= truncate(note.description.html_safe,length:50)%>
					</p>
				</div>
			</div>
		</div>
<% end %>
</div>
