<div class="row">
	<div class="col-md-8">
			<div class="page-header top-bottom-padding">
				<h1>
					<span class="font-family-monsterra"><%= @category.name  %></span> 
					<small>(<%= pluralize(@category.notes.size,'note')%>)</small>
				</h1>
			</div>
		</div>
		<div class="col-md-4 flex-display">
			<%= link_to "New notes",new_note_path,class:"btn btn-warning"%>
		</div>
</div>
<%= render "shared/search" %>
<%= render "shared/notes" %>
