<!DOCTYPE html>
<html>
  <head>
    <title>Noteapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <script src="//cdn.ckeditor.com/4.10.0/basic/ckeditor.js"></script>
  </head>

  <body>
    <div class="container-fluid no-left-padding">
      <%= render "shared/navbar"%>
      <%= render "shared/sidebar" if current_user%>
      <%= yield %>
      <%= render "shared/closing_div" if current_user%>      
    </div>
    <%= render "shared/alert"%> 
  </body>
</html>